@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



body{
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size: 20px;
    letter-spacing: 3px;
    color: #646464;
}
p{
    letter-spacing: 1px;
    color: #646464;
}
a{
    text-decoration: none;
    color:rgb(255, 184, 69);
    transition: 0.4s;
}
a:hover{
    opacity: 0.5;
}
h3{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight:bolder;
    color: #646464;
}
span{
    font-weight: bolder;
}
.logo{
    height: 32px;
    width: 100px;
}
header{
    width: 980px;
    margin: auto;
}
header li{
    list-style: none;
}
.hed-list{
    float: right;
    margin: 5px 20px;
    color:#646464;
}
.hed-list:hover{
    transition: 0.8;
}
.flexbutton{
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    width: 400px;
    text-decoration: none;
    position: fixed;
    bottom:5%;
    left: 36%;
    background-color: rgb(255, 184, 69);
    color:white;
    text-align: center;
    border-radius: 30px;
}
.group1{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.group1 img{
    width: 980px;
    margin: auto;
}
.chui{
    color:#949494;
    font-size: 14px;
}
.group2{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.mottokuwasikumiru{
    margin-top: 50px;
    
}
.mottokuwasikumiru a{
    font-size: 20px;
    color: #646464;
}

.mediazisseki{
    margin-top: 100px;
}
.group3{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.mamanonayami img{
    width: 980px;
}
.mamanonayami{
    margin-bottom: 200px;
}
.zaitakuwa-ku1text{
    margin-bottom: 100px;
}
.zaitakuwa-ku img{
    height: 1000px;
}
.text1{
    margin: 50px auto;
}
.text2{
    margin: 50px auto;
    font-weight: bold;
}
.group3-flex{
    width: 980px;
    display: flex;
}
.flex img{
    width: 120px;
    height: 120px;
}
.flex{
    width: 153px;
    padding: 10px;
}
.flex p{
    font-size: 14px;
}

.group4{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.group4 h3{
    font-size: 16px;
    font-weight: normal;
}
.group4-blok{
    margin-bottom: 100px;
}
.group4-blok img{
    width: 980px;
}
.group4-blok h2{
    margin: 20px 0;
}
.group4-blok-skil-box{
    display: flex;
}
.group4-blok-skil{
    width: 495px;
}
.group4-blok-skil{
    width: 495px;
}

.group5{
    width: 980px;
    margin: 200px auto;
    color: #646464;
}
.osususme img{
    width: 310px;
    margin: 5px;
}
.group6{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}

.jugyourei{
    height: 100px;
    line-height: 100px;
    list-style: none;
    border-bottom:5px solid #dedede;
    font-size: 14px;
    
}
.group6anke-to{
    margin: 200px auto;
}
.group6-midasi2{
    margin-top: 60px;
}
.group6 img{
    width: 485px;
    margin: 30px 5px;
}
.group6-img{
    display: flex;
}
.group7{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.saport-list img{
    width: 320px;
}
.saport-list{
    width: 320px;
    margin: 5px;
    padding: 5px;
}
.group7-flex{
    display: flex;
    margin-bottom: 100px;
}
.group8{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.kousi img{
    height: 150px;
    width: 150px;
}
.kousi{
    display: flex;
    margin: 50px 20px;
}
.group8 h3{
    font-size: 20px;
}
.group9{
    width: 980px;
    color: #646464;
    margin: 100px auto;
}
.group10{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.group10 img{
    width:100%;
}
.group11{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.group11 img{
    width: 100%;
}
.nitteiichiran{
    display: flex;
}
.group12{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.group13{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.group13-flex{
    display: flex;
}
.flex2 img{
    height: 300px;
    width: 320px;
}
.flex2{
    margin: 5px;
    padding:5px;
}
.group14{
    width: 980px;
    margin: 100px auto;
    color: #646464;
}
.group14 img{
    width: 100%;
}
footer{
    width: 980px;
    margin-bottom: 200px;
}

.footer-box{
    width: 680px;
    height: 50px;
    margin: 0 auto;
}
.footer-list{
    list-style: none;
    float: left;
    margin: 20px;
}
